

 :root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --passive-color-button:#F5F4FA;
 }

 body {

    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
 } 

  img {
     display: block;
     padding: 0;
     margin: 0;
     height: auto;
     max-width: 100%;
  }

 .list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
 }

 a {
    text-decoration: none;
 }

 /* all sections */

 .section {
    padding-top: 94px;
    padding-bottom: 94px;
 }

 /* h2 */
 .section-title-block {
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
 }





            /* **********START DECORATION****** */

                         /* general container */



    
    .container {

   width: 1200px;
   margin: auto;
   padding-left: 15px;
   padding-right: 15px;
   align-items: baseline;
   
    }

    .header-container {

    display: flex;
    /* align-items: center; */
    
    }

    .container .nav {

    display: flex;
   
    }
    .border-up {
    border-bottom: 1px solid #ECECEC;
    }

    .contacts {

    display: flex;
    margin-left: auto;
    }


        
    
                    /* Container Footer */





 .footer-container {
        width: 1200px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: baseline;
    
 }



                    /* Logo */




 .logo-web {
    color: var(--accent-color);
    cursor: default;
    display: flex;}

 .logo-studio {
    color: #000000;
    cursor: default;
    display: flex;}

 .full-logo-heder :focus{
    color: var(--accent-color);
    text-decoration: none;
    cursor: default;
    display: flex;}

 .full-logo-heder {
    font-family: Raleway, sans-serif;
       
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;}

 .full-logo-heder {
    cursor: default; 
    
    margin-right: 93px;
    padding-top: 23px;
    padding-bottom: 25px;
 }






                    /* Site Nav */






 .site-nav{

    display: flex;
    
  
 }

 .site-nav .link-navi{
        padding-top: 31px;
        padding-bottom: 32px;
        display: flex;

         
 }

 .site-nav .item{
    margin-right: 50px;
 }

 .site-nav .item:last-child{
    margin-right: 0;
 }
 .site-nav .link-navi{
        color: var(--title-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

         transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    
 }

 .site-nav .link-navi:hover,
 .site-nav .link-navi:focus {
    color: var(--accent-color);
    cursor: default;
 }

 .item{
   position: relative;
 }

 .link-navi::after{
   content: '';
   position: absolute;

   bottom: 0;
   left: 0;

   width: 100%;
   height: 4px;
   
   border-radius: 2px;
   background-color: #2196F3;
   
   
   /* opacity: 0; */
   
   transform: scaleX(0);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
   
}

.link-navi:hover::after{
   /* opacity: 1; */
   transform: scaleX(1);
}
.link-navi.stud::after{
   transform: scaleX(1);  
   
}
.link-navi.portf::after{
   transform: scaleX(1);
   /* opacity: 1; */
}
                           /* auth_NAV */






 .auth-nav {
    display: flex;
    margin-left: auto;
   
 }
 .auth-nav .item + .item {
    margin-left: 50px;
   
 }

    .auth-nav .link {
        padding-top: 31px;
        padding-bottom: 32px;
         display: flex;
         align-items: center;
       
        
    }

    .auth-nav .item:last-child {
    margin-right: 0;}


    .auth-nav a {
    fill:var(--primary-text-color);
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: default;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

      transition-property: color,fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }



    
    .auth-nav .link:hover,
    .auth-nav .link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
   

    }
    
    
       
    
    .item-icon {
      
      width:16px;
      height:20px;
      margin-right: 10px;
      
     
    }


   .item-icon2 {
   
          width: 16px;
          height: 17px;
          margin-right: 10px;
         
   }



                       /* Main */

                        /* HERO */






 .hero{

    text-align: center;
 }

    .hero-title{

        color: #fff;
        margin-top: 0px;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
    }

    .hero {

    padding-top: 200px;
    padding-bottom: 200px;

    }


    .overlay {
   
      max-width: 1600px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      
      background-image: linear-gradient(to right, 
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ), url('../images/hero.jpg');

      

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
     
    }



                    /* Hero Button */






 .hero-button{

    display:inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    margin-bottom: 0px;

    text-align: center;
    color:#fff;
    background-color:#2196F3 ;
    cursor: pointer;
    font-family: inherit;
    border: transparent;
    outline: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    }


      

    .backdrop {

      position: fixed;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

         transition-property: opacity, visibility;
         transition-duration: 250ms;
         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
   } 



      .backdrop.is-hidden {

          opacity: 0;
          pointer-events: none;
          visibility: hidden;
   
       }



    .modal {
      
      
      
      position: absolute;

       top: 50%;
       left: 50%;

      transform: translate(-50%, -50%);

      min-width: 528px;
      min-height: 581px;

         padding-top: 40px;
         padding-bottom: 40px;
         padding-left: 41px;
         padding-right: 39px;

      background-color: #FFFFFF;
      border-radius: 4px;
 
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
      
    }


    
    .close-but{

        
         font-family: inherit;
         border: transparent;
         outline: none;

      
         position: absolute;
            top: 8px;
            right: 8px;
         
            display: flex;
            align-items: center;
            justify-content: center;
          
         
         
            width: 30px;
            height: 30px;
            cursor: pointer;
         
            background-color: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
   
    }

       .close-cross {
          width: 18px;
          height: 18px;
   
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }
     
       .close-but:hover,
       .close-but:focus{
         fill: var(--accent-color);
       }



                  /*  Modal information text  */

.modal-title {

   font-size: 20px;
   line-height: 1.15;
   text-align: center;

   margin-bottom: 12px;
   margin-top: 0px;
   color: var(--title-text-color);
}
                        /* Modal Form */



.modal-form {
   display: flex;
   flex-direction: column;
   justify-content: center;

   width: 449px;
}

.form-item+.form-item {
   margin-top: 10px;
}

.form-label {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box {
   display: inline-block;
   position: relative;
}

.modal-icon {
   position: absolute;
   top: 50%;
   left: 12px;

   transform: translateY(-50%);

}

.modal-input {
   width: 448px;
   height: 40px;
   padding: 0;
   padding-left: 42px;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within .modal-input {
   outline: none;
   border: 1px solid var(--accent-color);
}

.form-item:focus-within .form-label {
   fill: var(--accent-color);
}

.form-item.comment {
   margin-bottom: 20px;
}

.modal-input.comment-input {
   height: 120px;
   padding: 12px 16px;

   resize: none;
}
/*  */
::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.label-check {
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71px;
}

.check-icon {
    margin-right: 7px;

    fill: #fff;
    border: var(--title-text-color) solid 2px;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-cneck:checked + .check-icon {
    border: var(--accent-color) solid 2px;
    background-color: var(--accent-color);    
}

.input-cneck {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-link{
   color: var(--accent-color);
}

.modal-form .form-button {    
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 56px;

    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button .button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;        
    letter-spacing: 0.06em;

    color: #FFFFFF;    
}

.modal-form .form-button:hover, 
.modal-form .form-button:focus {
    background-color: #188CE8;    
}


                  /* End modal Infor */
    
                    /* Section_About */





 .section-title-about  {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10;
    color: var(--title-text-color)
    
 }

    .about-style {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
    color: var(--primary-text-color);

 }

 .list .items {

    width: 270px;
    margin-bottom: 0px;

 }

 .container .list {

    display: flex;
    

 }

 
.about {
   gap: 30px;
}


.back-list {
      width: 270px;
      height: 120px;
      display: flex;
      padding: 0px;
      margin-bottom: 30px;
      background-color: rgba(245, 244, 250, 1);
   
      background-image: linear-gradient(to right,
   
            rgba(245, 244, 250, 1),
            rgba(245, 244, 250, 1));
   
      
      border-radius: 4px;
      align-items: center;
      justify-content: center;
}

.icon-about{
   width: 70px;
   height: 70px;
}



















                /* What We Do  */









 .container .list{
    
    display: flex;
    
 }

 .whatwedo {

    padding-top: 0px;

 }

 .what-we-do{
 gap: 30px;
 

 }


 .what-we{
   position: relative;
 
 }


 .thumb{
   display: flex;
   position: absolute;

      bottom: 0;
      left: 0;

   width: 100%;
   height: 70px ;
   background-color :rgba(47, 48, 58, 0.8);
   
    justify-content: center;
    align-items: center; 
  
 }


 .text-thumb{
      

      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #FFFFFF;
     
 }

                /* Our Team  */






            
 .team-title {

     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
     text-align: center;
     margin:0px;
     color:var(--title-text-color)
     
 }
 
 .img {
gap: 30px;

 }
 .section-subscribe {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 16px;
       
    }

 .our-team {

    background-color: #F5F4FA;

 }

 .team-cards {

    display: flex;
   flex-direction: column;

    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ECECEC;
    border-radius: 0px 0px 4px 4px;
    
    

  
 }

 .team-cards {
   
   align-items: center;
   width: 270px;
   
 }

 .list-item-team {
   
   width: 44px;
   height: 44px;

 }
 

.list-item-team:not(.list-item-team:last-child) {
   margin-right: 10px;
}


.box-item-team {
  
   display: flex;
   padding: 12px;
   border-radius: 50%;
   fill: rgb(175, 177, 184);

   transition-property: background-color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

 .icon-team {

    width: 20px;
    height: 20px;

 }



.icon-team:hover,
.icon-team:focus,
.box-item-team:hover,
.box-item-team:focus {
   
   background-color: var(--accent-color);
   fill: #ffffff;
   
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.full-card-team{

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}










               /* Our-clients */


    

 .clients {
   gap: 30px;
 }

 .clients-link{

   fill: #AFB1B8;
   cursor: pointer;
   display: flex;

   align-items: center;

   height: 92px;
   border: 1px solid rgba(175, 177, 184, 1);
   border-radius: 4px;
        
    

      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .clients-link:hover,
 .clients-link:focus{
   
   fill: #2196F3;
   border: 1px solid #2196F3;

 }


 .clients-pic{
   
   height: 60px;
   width: 170px;

 }








 



                /* Footer */






 .full-logo-footer:focus {

    color: var(--accent-color);
    text-decoration: none;
    cursor: default;
    display: flex;

 }

 .full-logo-footer{

    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;
    margin-bottom: 30px;
    
 }

 .full-logo-footer {

    cursor: default;
    align-items: center;
   
 }


 .address {

    font-style: normal;
    
 }

 .footer-nav .link {

    text-decoration: none;

 }

 .footer-nav .link {

    color: rgba(255, 255, 255, 0.6);
    cursor: default;
   transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }


 .footer-nav .link:hover,
 .footer-nav .link:focus {
    color: var(--accent-color);
    cursor: default;

 }


 .footer-nav .footer-adress {

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;

 }

 .footer-link{

    text-decoration: none;

 }

 .footer-link {
   
    cursor: default;

 }
 
 .footer-nav .footer-link {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

 }

 .second-part-footer{
   margin-right: 70px;
 }
 
 .footer{

    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

 }

 .logo-studio-footer {

    color: #fff;

 }


 .footer-links{

    margin-bottom:9px ;

 }

 .footer-first-part {
   margin-right: 70px;
 }
 .footer-links:last-child{

    margin-bottom: 0px;
   
   }
 
                           /* ADD TO FOOTER */


      .add {
         width: 206px;
        margin-right: 93px;
      }
   
      .add-title {
         font-size: 14px;
         line-height: 1.14;
         text-transform: uppercase;
         margin-bottom: 20px;
         margin-top: 0px;
         color: #FFFFFF;
         
      }
   
      .add-list {
         display: flex;
         width: 206px;
         height: 44px;
         
      }
   
      .list-item {
         width: 44px;
         height: 44px;
         
      }
   
      .list-item:not(.footer .list-item:last-child) {
         margin-right: 10px;
      }
   
      .box-item {
         display: flex;
         padding: 12px;
         border-radius: 50%;
         background-color: rgba(255, 255, 255, 0.1);
         
         transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
   
      .footer .box-item:hover,
      .footer .box-item:focus {
         background-color: var(--accent-color);
         
      }
   
      .footer .icon {
         width: 20px;
         height: 20px;
   
         fill: #FFFFFF;
         
      }


                        /* Footer form E-mail subscriber */






.subscribe-title {
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;

   margin-bottom: 20px;
   margin-top: 0px;
   color: #FFFFFF;
}

.subscribe-form {
   display: flex;
}

.subscribe-input {
   width: 358px;
   height: 50px;

   color: #fff;

   margin-right: 10px;
   padding: 15px 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   background-color: transparent;
}

.subscribe-button {
   display: flex;
   align-items: center;
   justify-content: center;

   padding-top: 10px;
   padding-right: 28px;
   padding-bottom: 10px;
   padding-left: 29px;

   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;

   color: #FFFFFF;

   background-color: var(--accent-color);
   border: none;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   cursor: pointer;
}

.subscribe-icon {
   margin-left: 10px;
}

      

                     /* and subscriber  */

                /* Portfolio_Page_CSS */






 .filter-buttons button {

   border: transparent;
   outline: none;
   text-align: center;
   display: inline-block;
   border-radius: 4px;
   min-width: 73 px;
   padding:6px 22px ;
   font-family: inherit;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;

      transition-property: background-color, color, box-shadow ;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }
    
 


 .filter-buttons button{

    cursor: pointer;

 }

 .filter-buttons button,

 .filter-buttons button :focus {

    background-color: #F5F4FA;

 }

 .filter-buttons :hover {

    color: var(--accent-color)

 }

 .filter-buttons button:hover,
 .filter-buttons button:focus{

    color: #fff;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);

 }


 .list .buttons {

    margin-right: 8px;

 }

 .list .buttons:last-child{

    margin-right: 0px;

 }

 .list.but{

    gap: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
 }

 


                       /* pictures  */




/* UL  */
 .pictures {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

 }
 /* div for text after pictures */
 .portfolio-pic {

    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;

 }

 .section-titles-portfolio {

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        margin: 0px;
        margin-bottom: 4px;
 }

 .subscribing-text{

        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin: 0px;
 }

 /* general link for hover and focus */

  .imgs {
     display: block;
      
  }
  
  .imgs:hover .text-thumb-portf,
  .imgs:focus .text-thumb-portf{

        

        

         transform: translateY(0);
         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
  }

.image-thumb{
  
   position: relative;
   overflow: hidden;
}

.imgs:hover,
.imgs:focus{
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08),
         0px 2px 2px rgba(0, 0, 0, 0.12);
}
.text-thumb-portf {

   
   position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

   

      background-color: rgba(33, 150, 243, 0.9);

      display: flex;

      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      font-weight: 400;
      font-size: 18px;
      line-height: 1.55;
      
      letter-spacing: 0.03em;
      text-transform: none;
      color: #FFFFFF;

      

}

